<section class="max-w-sm">
  <h1 class="font-bold text-2xl mb-5">Forgot your password?</h1>

  <%= form_with url: passwords_path, class: 'authentication' do |form| %>
    <div class="mb-5">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
      <%= form.email_field :email_address,
            required: true,
            autofocus: true,
            autocomplete: "username",
            placeholder: "Enter your email address",
            value: params[:email_address] %>
    </div>

    <%= form.submit "Email reset instructions" %>

  <% end %>
</section>
