/* from https://github.com/CMSgov/design-system/blob/main/packages/design-system/src/styles/components/_FilterChip.scss */

:root {
  --filter-chip__border-radius: 9999px;
  --filter-chip__background-color: #e6f1f8;
  --filter-chip__border-color: #0071bc;
  --filter-chip__color: #262626;
  --filter-chip__background-color--active: #0071bc;
  --filter-chip__border-color--active: #0071bc;
  --filter-chip__color--active: white;
  --filter-chip-icon__color: #262626;
  --filter-chip-icon__color-active: white;
  --filter-chip-icon__container-size: 18px;

  --spacer-1: 8px;
  --spacer-2: 16px;
  --spacer-half: 4px;

  --font-size-sm: .875rem;
  --font-weight-normal: 400;

}

.ds-c-filter-chip__button {
  background-color: var(--filter-chip__background-color);
  border: 1px solid var(--filter-chip__border-color);
  border-radius: var(--filter-chip__border-radius);
  color: var(--filter-chip__color);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  margin-block-start: var(--spacer-1);
  margin-inline-end: var(--spacer-1);
  min-height: 0;
  padding: var(--spacer-half) var(--spacer-1);
  padding-inline-end: 34px;
  position: relative;
  text-align: start;


  > * {
    pointer-events: none;
  }
}

.ds-c-filter-chip__button:focus {
  box-shadow: 0 0 0 3px var(--color-focus-light), 0 0 4px 6px var(--color-focus-dark);
  outline: 3px solid transparent;
  outline-offset: 3px;
}

.ds-c-filter-chip__button--big {
  min-height: 44px;
  padding: var(--spacer-1) var(--spacer-2);
  padding-inline-end: 34px;
}

.ds-c-filter-chip__button:active,
.ds-c-filter-chip__button:focus,
.ds-c-filter-chip__button:hover {
  background-color: var(--filter-chip__background-color--active);
  border: 1px solid var(--filter-chip__border-color--active);
  color: var(--filter-chip__color--active);
}


.ds-c-filter-chip__clear-icon-container {
  border: 1px solid var(--filter-chip__color);
  border-radius: 50%;
  display: inline-block;
  height: var(--filter-chip-icon__container-size);
  margin-inline-start: var(--spacer-1);
  padding: 0;
  position: absolute;
  right: var(--spacer-1);
  top: 50%;
  transform: translateY(-50%);
  vertical-align: middle;
  width: var(--filter-chip-icon__container-size);

}

.ds-c-filter-chip__clear-icon-container .ds-c-icon--close {
  display: block;
  fill: var(--filter-chip__color);
  height: 10px;
  left: 3px;
  position: relative;
  top: 3px;
  width: 10px;

  @media (-ms-high-contrast: active), (forced-colors: active) {
    path {
      fill: ButtonText;
    }
  }
}

.ds-c-filter-chip__clear-icon-container .ds-c-icon--close-thin {
  height: 12px;
  width: 12px;
}


.ds-c-filter-chip__button:active .ds-c-filter-chip__clear-icon-container,
.ds-c-filter-chip__button:focus .ds-c-filter-chip__clear-icon-container,
.ds-c-filter-chip__button:hover .ds-c-filter-chip__clear-icon-container {
  border-color: var(--filter-chip__color--active);

  .ds-c-icon--close {
    fill: var(--filter-chip__color--active);
  }
}

.ds-c-filter-chip__clear-icon-container.ds-c-filter-chip__clear-icon-alternate-container {
  border: 0;
}
